1) Faça a importação dos pacotes da biblioteca keras.

In [ ]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD
from sklearn.model_selection import train_test_split

In [ ]:
3) Realize a importação do dataset .csv de crédito para o ambiente de desenvolvimento

In [ ]:
dataset = pd.read_csv("credit_dataset.csv")

# Visualização do dataset normalizado
dataset.head()

   credit.rating  account.balance  ...  telephone  foreign.worker
0              1                1  ...          1               1
1              1                1  ...          1               1
2              1                2  ...          1               1
3              1                1  ...          1               2
4              1                1  ...          1               2

[5 rows x 21 columns]

4) Faça a análise exploratória do dataset e verifique a necessidade de normalização dos dados.

In [ ]:
display(dataset)

     credit.rating  account.balance  ...  telephone  foreign.worker
0                1                1  ...          1               1
1                1                1  ...          1               1
2                1                2  ...          1               1
3                1                1  ...          1               2
4                1                1  ...          1               2
..             ...              ...  ...        ...             ...
995              0                1  ...          1               1
996              0                1  ...          1               1
997              0                3  ...          2               1
998              0                2  ...          2               1
999              0                1  ...          1               1

[1000 rows x 21 columns]

In [ ]:
dataset.corr()

                                credit.rating  ...  foreign.worker
credit.rating                        1.000000  ...        0.082079
account.balance                      0.339409  ...       -0.036607
credit.duration.months              -0.214927  ...       -0.134680
previous.credit.payment.status       0.220233  ...        0.018756
credit.purpose                      -0.106696  ...        0.067047
credit.amount                       -0.154740  ...       -0.030662
savings                              0.179191  ...        0.007363
employment.duration                  0.118092  ...       -0.031172
installment.rate                    -0.072404  ...       -0.094762
marital.status                       0.091249  ...        0.080643
guarantor                           -0.000751  ...        0.137881
residence.duration                  -0.002967  ...       -0.039691
current.assets                      -0.142612  ...       -0.132462
age                                  0.091272  ...        0.013981
other.credits                        0.113285  ...        0.012008
apartment.type                       0.018119  ...       -0.083336
bank.credits                         0.045727  ...       -0.017355
occupation                          -0.032735  ...       -0.092835
dependents                           0.003015  ...        0.077071
telephone                            0.036466  ...       -0.075012
foreign.worker                       0.082079  ...        1.000000

[21 rows x 21 columns]

5) Considerando o item 4) aplique a normalização padrão nas variáveis explanatórias numéricas do
dataset.

In [ ]:
feature_list_norm = ["credit.duration.months", "age", "credit.amount"]

# Criando dataset normalizado
dataset_norm = dataset

# Aplicação da normalização sobre o dataset
dataset_norm[feature_list_norm] = dataset_norm[feature_list_norm].apply(lambda x: (x - x.mean()) / x.std())

# Visualização do dataset normalizado
dataset_norm.head()

   credit.rating  account.balance  ...  telephone  foreign.worker
0              1                1  ...          1               1
1              1                1  ...          1               1
2              1                2  ...          1               1
3              1                1  ...          1               2
4              1                1  ...          1               2

[5 rows x 21 columns]

6) Realize a divisão do conjunto de treino e teste em 70/30.

In [ ]:
X = dataset_norm.iloc[:,1:]

# Variável de saída do modelo
y = dataset_norm.iloc[:,0]

seed = 101
# Proporção dos dados de teste do modelo
p_teste = 0.3

# Função train_test_split para separação dos dados com proporção de teste escolhida
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = p_teste, random_state = seed)

– 7) Para reprodução dos resultados use o set.seed(101).

In [ ]:
np.random.seed(seed)

6) Construa e treine um modelo de Deep Learning com o Keras, por meio de três fases:

∗ Construção do modelo (keras.models e keras.layers)
∗ Compilação do modelo (keras.optimizers)
∗ Treinamento do modelo (keras.fit)

In [ ]:
modelo_RNA_Keras = Sequential()

# A partir da criação do objeto modelo do Keras, podemos adicionar camadas:
modelo_RNA_Keras.add(Dense(12, input_dim = 20, kernel_initializer = 'uniform', activation = 'relu'))

modelo_RNA_Keras.add(Dense(8, kernel_initializer = 'uniform', activation = 'relu'))
# Dicas:
# Nesse caso, adicionamos uma camada oculta de 8 neurônios, cujos parâmetros são inicializados a partir da distribuição uniforme e com funções de ativação do tipo relu.

# --------------------------------------------------------------
# Adição da camada de saída a rede neural profunda
modelo_RNA_Keras.add(Dense(1, activation = 'sigmoid', kernel_initializer = 'uniform'))

modelo_RNA_Keras.compile(loss = 'binary_crossentropy', 
                         optimizer = SGD(lr = 0.005, momentum = 0.9, nesterov = True), 
                         metrics = ['accuracy'])

modelo_RNA_Keras.fit(X_train, y_train, epochs = 100, batch_size = 10)

Epoch 1/100
700/700 [==============================] - 0s 548us/step - loss: 0.6572 - accuracy: 0.6943
Epoch 2/100
700/700 [==============================] - 0s 122us/step - loss: 0.6191 - accuracy: 0.7000
Epoch 3/100
700/700 [==============================] - 0s 134us/step - loss: 0.6125 - accuracy: 0.7000
Epoch 4/100
700/700 [==============================] - 0s 106us/step - loss: 0.6115 - accuracy: 0.7000
Epoch 5/100
700/700 [==============================] - 0s 112us/step - loss: 0.6113 - accuracy: 0.7000
Epoch 6/100
700/700 [==============================] - 0s 104us/step - loss: 0.6114 - accuracy: 0.7000
Epoch 7/100
700/700 [==============================] - 0s 105us/step - loss: 0.6110 - accuracy: 0.7000
Epoch 8/100
700/700 [==============================] - 0s 107us/step - loss: 0.6113 - accuracy: 0.7000
Epoch 9/100
700/700 [==============================] - 0s 107us/step - loss: 0.6112 - accuracy: 0.7000
Epoch 10/100
700/700 [==============================] - 0s 106us/step - loss: 0.6110 - accuracy: 0.7000
Epoch 11/100
700/700 [==============================] - 0s 113us/step - loss: 0.6113 - accuracy: 0.7000
Epoch 12/100
700/700 [==============================] - 0s 121us/step - loss: 0.6108 - accuracy: 0.7000
Epoch 13/100
700/700 [==============================] - 0s 110us/step - loss: 0.6113 - accuracy: 0.7000
Epoch 14/100
700/700 [==============================] - 0s 110us/step - loss: 0.6106 - accuracy: 0.7000
Epoch 15/100
700/700 [==============================] - 0s 114us/step - loss: 0.6106 - accuracy: 0.7000
Epoch 16/100
700/700 [==============================] - 0s 109us/step - loss: 0.6102 - accuracy: 0.7000
Epoch 17/100
700/700 [==============================] - 0s 105us/step - loss: 0.6099 - accuracy: 0.7000
Epoch 18/100
700/700 [==============================] - 0s 111us/step - loss: 0.6089 - accuracy: 0.7000
Epoch 19/100
700/700 [==============================] - 0s 108us/step - loss: 0.6081 - accuracy: 0.7000
Epoch 20/100
700/700 [==============================] - 0s 108us/step - loss: 0.6052 - accuracy: 0.7000
Epoch 21/100
700/700 [==============================] - 0s 114us/step - loss: 0.6000 - accuracy: 0.7000
Epoch 22/100
700/700 [==============================] - 0s 111us/step - loss: 0.5892 - accuracy: 0.7000
Epoch 23/100
700/700 [==============================] - 0s 113us/step - loss: 0.5688 - accuracy: 0.7000
Epoch 24/100
700/700 [==============================] - 0s 127us/step - loss: 0.5452 - accuracy: 0.7100
Epoch 25/100
700/700 [==============================] - 0s 109us/step - loss: 0.5179 - accuracy: 0.7543
Epoch 26/100
700/700 [==============================] - 0s 107us/step - loss: 0.5089 - accuracy: 0.7500
Epoch 27/100
700/700 [==============================] - 0s 110us/step - loss: 0.5053 - accuracy: 0.7500
Epoch 28/100
700/700 [==============================] - 0s 112us/step - loss: 0.5067 - accuracy: 0.7571
Epoch 29/100
700/700 [==============================] - 0s 106us/step - loss: 0.5059 - accuracy: 0.7600
Epoch 30/100
700/700 [==============================] - 0s 114us/step - loss: 0.5024 - accuracy: 0.7543
Epoch 31/100
700/700 [==============================] - 0s 106us/step - loss: 0.4980 - accuracy: 0.7486
Epoch 32/100
700/700 [==============================] - 0s 108us/step - loss: 0.5005 - accuracy: 0.7586
Epoch 33/100
700/700 [==============================] - 0s 107us/step - loss: 0.4945 - accuracy: 0.7657
Epoch 34/100
700/700 [==============================] - 0s 107us/step - loss: 0.4913 - accuracy: 0.7729
Epoch 35/100
700/700 [==============================] - 0s 105us/step - loss: 0.4901 - accuracy: 0.7629
Epoch 36/100
700/700 [==============================] - 0s 106us/step - loss: 0.4954 - accuracy: 0.7586
Epoch 37/100
700/700 [==============================] - 0s 115us/step - loss: 0.4890 - accuracy: 0.7686
Epoch 38/100
700/700 [==============================] - 0s 104us/step - loss: 0.4919 - accuracy: 0.7686
Epoch 39/100
700/700 [==============================] - 0s 113us/step - loss: 0.4841 - accuracy: 0.7729
Epoch 40/100
700/700 [==============================] - 0s 108us/step - loss: 0.4901 - accuracy: 0.7671
Epoch 41/100
700/700 [==============================] - 0s 109us/step - loss: 0.4830 - accuracy: 0.7729
Epoch 42/100
700/700 [==============================] - 0s 118us/step - loss: 0.4904 - accuracy: 0.7743
Epoch 43/100
700/700 [==============================] - 0s 109us/step - loss: 0.4833 - accuracy: 0.7771
Epoch 44/100
700/700 [==============================] - 0s 107us/step - loss: 0.4936 - accuracy: 0.7657
Epoch 45/100
700/700 [==============================] - 0s 121us/step - loss: 0.4855 - accuracy: 0.7657
Epoch 46/100
700/700 [==============================] - 0s 139us/step - loss: 0.4851 - accuracy: 0.7714
Epoch 47/100
700/700 [==============================] - 0s 123us/step - loss: 0.4837 - accuracy: 0.7686
Epoch 48/100
700/700 [==============================] - 0s 123us/step - loss: 0.4947 - accuracy: 0.7629
Epoch 49/100
700/700 [==============================] - 0s 140us/step - loss: 0.4839 - accuracy: 0.7700
Epoch 50/100
700/700 [==============================] - 0s 125us/step - loss: 0.4886 - accuracy: 0.7700
Epoch 51/100
700/700 [==============================] - 0s 131us/step - loss: 0.4870 - accuracy: 0.7757
Epoch 52/100
700/700 [==============================] - 0s 123us/step - loss: 0.4821 - accuracy: 0.7729
Epoch 53/100
700/700 [==============================] - 0s 119us/step - loss: 0.4793 - accuracy: 0.7714
Epoch 54/100
700/700 [==============================] - 0s 111us/step - loss: 0.4851 - accuracy: 0.7714
Epoch 55/100
700/700 [==============================] - 0s 112us/step - loss: 0.4820 - accuracy: 0.7729
Epoch 56/100
700/700 [==============================] - 0s 118us/step - loss: 0.4787 - accuracy: 0.7800
Epoch 57/100
700/700 [==============================] - 0s 108us/step - loss: 0.4911 - accuracy: 0.7786
Epoch 58/100
700/700 [==============================] - 0s 109us/step - loss: 0.4779 - accuracy: 0.7757
Epoch 59/100
700/700 [==============================] - 0s 105us/step - loss: 0.4784 - accuracy: 0.7686
Epoch 60/100
700/700 [==============================] - 0s 106us/step - loss: 0.4824 - accuracy: 0.7686
Epoch 61/100
700/700 [==============================] - 0s 106us/step - loss: 0.4795 - accuracy: 0.7771
Epoch 62/100
700/700 [==============================] - 0s 139us/step - loss: 0.4799 - accuracy: 0.7714
Epoch 63/100
700/700 [==============================] - 0s 131us/step - loss: 0.4755 - accuracy: 0.7800
Epoch 64/100
700/700 [==============================] - 0s 122us/step - loss: 0.4766 - accuracy: 0.7871
Epoch 65/100
700/700 [==============================] - 0s 122us/step - loss: 0.4821 - accuracy: 0.7657
Epoch 66/100
700/700 [==============================] - 0s 106us/step - loss: 0.4721 - accuracy: 0.7829
Epoch 67/100
700/700 [==============================] - 0s 107us/step - loss: 0.4755 - accuracy: 0.7771
Epoch 68/100
700/700 [==============================] - 0s 121us/step - loss: 0.4755 - accuracy: 0.7886
Epoch 69/100
700/700 [==============================] - 0s 110us/step - loss: 0.4754 - accuracy: 0.7814
Epoch 70/100
700/700 [==============================] - 0s 107us/step - loss: 0.4718 - accuracy: 0.7786
Epoch 71/100
700/700 [==============================] - 0s 123us/step - loss: 0.4796 - accuracy: 0.7843
Epoch 72/100
700/700 [==============================] - 0s 117us/step - loss: 0.4782 - accuracy: 0.7814
Epoch 73/100
700/700 [==============================] - 0s 135us/step - loss: 0.4723 - accuracy: 0.7871
Epoch 74/100
700/700 [==============================] - 0s 125us/step - loss: 0.4713 - accuracy: 0.7843
Epoch 75/100
700/700 [==============================] - 0s 126us/step - loss: 0.4711 - accuracy: 0.7786
Epoch 76/100
700/700 [==============================] - 0s 130us/step - loss: 0.4748 - accuracy: 0.7786
Epoch 77/100
700/700 [==============================] - 0s 124us/step - loss: 0.4720 - accuracy: 0.7871
Epoch 78/100
700/700 [==============================] - 0s 130us/step - loss: 0.4783 - accuracy: 0.7771
Epoch 79/100
700/700 [==============================] - 0s 122us/step - loss: 0.4758 - accuracy: 0.7814
Epoch 80/100
700/700 [==============================] - 0s 116us/step - loss: 0.4785 - accuracy: 0.7843
Epoch 81/100
700/700 [==============================] - 0s 107us/step - loss: 0.4724 - accuracy: 0.7829
Epoch 82/100
700/700 [==============================] - 0s 122us/step - loss: 0.4687 - accuracy: 0.7886
Epoch 83/100
700/700 [==============================] - 0s 110us/step - loss: 0.4650 - accuracy: 0.7929
Epoch 84/100
700/700 [==============================] - 0s 109us/step - loss: 0.4670 - accuracy: 0.7814
Epoch 85/100
700/700 [==============================] - 0s 133us/step - loss: 0.4687 - accuracy: 0.7843
Epoch 86/100
700/700 [==============================] - 0s 117us/step - loss: 0.4663 - accuracy: 0.7829
Epoch 87/100
700/700 [==============================] - 0s 108us/step - loss: 0.4643 - accuracy: 0.7914
Epoch 88/100
700/700 [==============================] - 0s 114us/step - loss: 0.4750 - accuracy: 0.7714
Epoch 89/100
700/700 [==============================] - 0s 118us/step - loss: 0.4654 - accuracy: 0.7871
Epoch 90/100
700/700 [==============================] - 0s 124us/step - loss: 0.4654 - accuracy: 0.7929
Epoch 91/100
700/700 [==============================] - 0s 122us/step - loss: 0.4649 - accuracy: 0.7914
Epoch 92/100
700/700 [==============================] - 0s 111us/step - loss: 0.4615 - accuracy: 0.7843
Epoch 93/100
700/700 [==============================] - 0s 114us/step - loss: 0.4690 - accuracy: 0.7871
Epoch 94/100
700/700 [==============================] - 0s 111us/step - loss: 0.4620 - accuracy: 0.7929
Epoch 95/100
700/700 [==============================] - 0s 110us/step - loss: 0.4679 - accuracy: 0.7929
Epoch 96/100
700/700 [==============================] - 0s 109us/step - loss: 0.4634 - accuracy: 0.7971
Epoch 97/100
700/700 [==============================] - 0s 116us/step - loss: 0.4628 - accuracy: 0.7900
Epoch 98/100
700/700 [==============================] - 0s 107us/step - loss: 0.4697 - accuracy: 0.7757
Epoch 99/100
700/700 [==============================] - 0s 105us/step - loss: 0.4592 - accuracy: 0.7843
Epoch 100/100
700/700 [==============================] - 0s 118us/step - loss: 0.4589 - accuracy: 0.8014

7) Use a biblioteca ann_visualizer para visualizar a arquitetura da RNA construída
∗ from ann_visualizer.visualize import ann_viz;

In [ ]:
#todo nao temos o annviz no colab :(

– 8) Interprete os resultados do modelo de DL.

9) Avalie a acurácia do modelo de DL baseado na RNA construída e treinada sobre os dados de teste.

In [ ]:
scores = modelo_RNA_Keras.evaluate(X_test, y_test)
print("%s: %.2f%%" % (modelo_RNA_Keras.metrics_names[1], scores[1]*100))

300/300 [==============================] - 0s 114us/step
accuracy: 76.67%